body {
	background-color: LightGray;
}

#titlebar {
	text-align: center;
}

#holder {
	text-align: center;
	font-size: 20px;
	color: DarkGray;
	margin-top: 20px;
	margin-bottom: 20px;
}

#border-graphic {
	border-style: dashed;
	border-color: DarkGray;
	border-width: 5px;
	border-radius:5px;
	margin: 30px;
	margin-bottom: 5px;
	max-height: 200px;
}

#message-area {
	margin: 30px;
}

#encrypt-button-container {
	text-align: center;
	margin-top: 20px
	margin-bottom:20px;
}

img {
	width: 500px;
	max-width: 500px;
	height: 300px;
	max-height:300px;
	margin: 5%;
}

#images {
	text-align: center;
	margin: 10%;
}

#buttons {
	text-align: center;
}